{% extends "base.html"%}
{% block main %}
<div class="container d-flex justify-content-center mt-5">
  <div class="card" style="width: 100rem; ">
    <div class="card-header">
      #Чатик с ChatGPT
    </div>
    <div class="card-body">
      {% for mess in messages %}
          {% if mess["role"] == 'user' %}
            <p class="text-end">
              {{ current_user.name }}: {{ mess["content"] }}
            </p>
          {% else %}
            <p class="text-start text-success-emphasis" style="max-width: 50rem;">
              ChatGPT: {{ mess["content"] }}
            </p>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container mt-3" style="width: 30rel;">
  <form class="d-flex justify-content-center" action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.message(class="form-control", type="message") }}<br>
              {% for error in form.message.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
    {{ form.send(type="submit", class="btn btn-outline-success") }}
  </form>
</div>
{% endblock %}