{% extends 'base.html'%}

{% block main %}
<div class="container d-flex justify-content-center">
  <div class="card mt-5" style="width: 100rem;">
    <div class="card-header">
        <form class="d-flex justify-content-center" action="" method="post">
          {{ form.hidden_tag() }}
          {{ form.name_of_user(class="form-control focus-ring focus-ring-dark py-1 px-1 text-decoration-none border rounded-2", type="name_of_user", placeholder="Найти друга по имени") }}<br>
                    {% for error in form.name_of_user.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
          {{ form.search(type="submit", class="btn btn-outline-warning") }}
        </form>
    </div>
      <div class="card-body">
        {% if users %}
          {% for items in users %}
            {% if search %}
              {% if items.id not in friends_ids %}
                <div class="card mb-1">
                  <div class="card-body d-flex justify-content-between" style="align-items: center;">
                    <a href="/profile/{{ items.id }}" style="text-decoration: none; color: white;">{{ items.name }}</a>
                    <button type="button" onclick="location.href='/add-to-friends/{{ items.id }}'" class="btn btn-outline-success">Добавить в друзья</button>
                  </div>
                </div>
              {% endif %}
            {% else %}
            <div class="card mb-1">
              <div class="card-body d-flex justify-content-between" style="align-items: center;">
                <a href="/profile/{{ items.id }}" style="text-decoration: none; color: white;">{{ items.name }}</a>
                <button type="button" onclick="location.href='/delete-from-friends/{{ items.id }}'" class="btn btn-outline-danger">Удалить</button>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <p class="text-center">У Вас нет друзей...</p>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}