{% extends 'base.html' %}

{% block main %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 100rem;">
        <div class="card-header text-center">
            {% if current_us %}
                <h1 class="text-center">Привет, <a data-bs-target="change-name" href="/change-name" style="color: white; text-decoration: none;">{{ current_user.name }}</a>👋</h1>Для изменения имени тыкни на него
            {% else %}
                <h1 class="text-center">{{ user.name }}</h1>
            {% endif %}
        </div>   
        <div class="card-body">
            <div class="card-body">
                <div class="card-body d-flex justify-content-between" style="align-items: center;">
                    Email: {{ user.email }} {% if current_us %}<button type="button" class="btn btn-outline-warning" onclick="location.href = '/change-email'">Изменить</button>{% endif %}
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}